@import "../../styles/colors.scss";

* {
  font-family: 'Roboto', sans serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"] {
  border: 1px solid $primaryLight;
  line-height: 40px;
  border-radius: 4px;
  transition: 1s ease;
  padding: 0px 40px 0px 8px;

  &:focus {
    outline-color: $primaryLight;
    transition: 1s ease;
  }
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 60px;
  transition: 1s ease;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transition: 1s ease;
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .header {
    background-color: $primary;
    display: flex;
    flex-direction: column;
    border-top: 40px solid $primaryDark;
    align-items: center;

    img {
      margin-top: 40px
    }

    h1 {
      color: $white;
      margin: 16px 0px 40px;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: $white;
    padding: 40px;
    margin: 40px 0px;
    border-radius: 8px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;
  }

  h2 {
    color: $primaryDark;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
  }

  .submit {
    margin-top: 32px;

    &:disabled {
      background-color: $disabledBackground;
      color: $disabledText;
    }
  }

  .link {
    text-align: center;
    color: $primary;
    text-transform: lowercase;
    margin-top: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer {
    background-color: $primary;
    height: 48px;
  }
}